body { margin: 0; padding: 0; box-sizing: border-box; }
body, input, button { font-family: 'Roboto', sans-serif; }
a { text-decoration: none !important;color: #0b0b0b !important;}
ul{ list-style: none; }

#header {
    width: 100%;
    height: 200px;
    background: #fff;
    
}

.banner-header{
    width: 100%;
    height: 400px;
    background-image: url('banner1.jpg');
    background-size: cover;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.banner-header::after{
    content: 'Status Academia';
    font-family: 'roboto';
    color: rgb(255, 255, 255);
    position: absolute;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: 200px;
    z-index: 1;
    text-shadow: #0b0b0b 1px 1px 1px;

}
.nav {
    margin-top: 10px;
}

.nav-content{
    display: flex;
    position: fixed;
    align-items: center;
    
    justify-content: center;
    width: 100%;
    background-color: #fff;
    z-index: 2;
   
}
.nav-content ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    padding: 0;
}
.nav-content ul li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
.nav-content ul li a{
    text-decoration: none;
    color: #0b0b0b;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;

}